<html>
	<head>
		
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="./javascripts/underscore-min.js" type="text/javascript"></script>
		<script src="./javascripts/backbone-min.js" type="text/javascript"></script>
		<script src="sassy/javascripts/vendor/custom.modernizr.js" type="text/javascript"></script>

		<!-- Firebase -->
		<script src="https://cdn.firebase.com/v0/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/backfire/0.3.0/backbone-firebase.min.js"></script>

		<!-- Stylesheets -->
  		<link href="sassy/stylesheets/app.css" media="screen, projector, print" rel="stylesheet" type="text/css" />

		<title>Real Talk Right Quick | Eric Levine | Web Developer</title>

		<!-- Backbone Templates -->
		<script type="text/template" id="projectItemView">
			<div class="small-6 large-4 columns">
				<img src="images/logos/<%= image.logo %>">
			</div>
			
		</script>

		<script type="text/template" id="projectView">
			<h2 class="project-title large-offset-2"><%= title %></h2>
			<ul class="project-techs large-offset-3">
				<% _.each(techs, function(tech) { %>
					<li><%= tech %></li>
				<% }); %>
			</ul>
			<span class="project-scope large-offset-2"><%= scope %></span>
			
			<div id="wrapper">
		        <a href="http://dev7studios.com" id="dev7link" title="Go to dev7studios">dev7studios</a>

		        <div class="slider-wrapper theme-default">
		            <div id="slider" class="nivoSlider">
		                <img src="images/mu-site.png" data-thumb="images/mu-site.png" alt="" />
		                <a href="http://dev7studios.com"><img src="images/up.jpg" data-thumb="images/up.jpg" alt="" title="This is an example of a caption" /></a>
		                <img src="images/van_eric.jpg" data-thumb="van_eric_sm.jpg" alt="" data-transition="slideInLeft" />
		                <img src="images/nemo.jpg" data-thumb="images/nemo.jpg" alt="" title="#htmlcaption" />
		            </div>
		            <div id="htmlcaption" class="nivo-html-caption">
		                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
		            </div>
		        </div>

		    </div>

				// <img src="images/<%= image.showcase %>">
			<script type="text/javascript">
				$(window).load(function() {
			        $('#slider').nivoSlider();
			    });
			</script>

		</script>

		<!-- Nivo slider -->
		<link rel="stylesheet" href="nivo-slider/nivo-slider.css" type="text/css" />
		<script src="nivo-slider/jquery.nivo.slider.pack.js" type="text/javascript"></script>
		<link rel="stylesheet" href="nivo-slider/themes/default/default.css" type="text/css" media="screen" />
	
	</head>
	<body>
		
		<header>
			<div class="row large-centered">
				<h1 class="dontwearitout">REAL TALK RIGHT QUICK</h1>
			</div>
			<div class="row">
				<h4 class="title">adventures in web dev, and the blogfolio of Eric Levine</h4>
			</div>
		</header>

		<div class="row nav small-centered">
			<ul>
				<li class="large-3 columns"><a href="#">work</a></li>
				<li class="large-3 columns"><a href="#">resume</a></li>
				<li class="large-3 columns"><a href="#">blog</a></li>
				<li class="large-3 columns"><a href="#">twitter</a></li>
			</ul>
		</div>

		<section class="work row">
			<h3></h3>
			<div class="row projectItemView">
				
			</div>
			
		</section>

		<section id="projectContainer" class="row">
			
		</section>

	<!-- FitText -->
		<script src="javascripts/jquery.fittext.js"></script>
		<script type="text/javascript">
  			$(".dontwearitout").fitText(1, { minFontSize: '60px', maxFontSize: '90px' });
  			$(".title").fitText(3, { minFontSize: '25px', maxFontSize: '35px' });
		</script>

	<!-- Foundation -->
		<script src="sassy/javascripts/foundation/foundation.js"></script>
		<script src="sassy/javascripts/foundation/foundation.orbit.js"></script>	
		<script>
			$(document).ready(function(){
				$(document).foundation();
			});
		</script>
	
	
	
	<!-- My own JS -->
		<script src="./javascripts/index.js" type="text/javascript"></script>


	</body>
</html>
